header{
    background-color: #FAF7F7;
    padding:  2px 2px;
    align-items: center;
    font-size: 25px;
    color: #8F004E;
    justify-content: space-between;
    display: flex;
    
}

header .logo2{
   height: 50px;     
   width: auto; 

}

ul{
    background-color:#FAF7F7 ;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
li{
    float: left;
}

li a {
    display: block;
    color:#8F004E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 li a:hover{
    background-color:#FABCDF;
 }

 .florecillas{
   
   margin: 20px 0;

 }
 .florecillas img {
   width: 100%;       
  max-height: 100px; 
  object-fit: cover; 
  display: block;
 }

 .subtitulo{
    background-color: #FAF7F7;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:#8F004E;
 }
 
 .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
 }

 .item{
    width: 120px;
 }
 .item:hover{
   background-color:#FABCDF;
 }

 .item img{
    width: 100%;
    border-radius: 10px;
 }

 .item p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
 }

body{
   background-color: #FAF7F7;
}

footer {
  background-color: #FAF7F7;  
  color: #8F004E;            
  text-align: center;          
  padding: 20px 10px;         
  font-size: 14px;
  border-top: 1px solid #E0D0E0; 
}

.contacto{
   text-align: center;
}